project/zecret
project/travis-deploy-key
project/secrets.tar.xz
project/project
project/target
target
test-output/
.sbtopts
project/.sbt
test-output/
.bloop
.metals
.idea
website/node_modules
website/build
website/i18n
website/yarn.lock

